/*Back button*/
.back-button {
    position: fixed;
    top: 30px; left: 5px;
    padding: 7px 7px;
    background-color: #333; color: white;
    border: none; border-radius: 100%;
    font-size: 16px; font-family: sans-serif; text-align: center;
    z-index: 1000; /* Ensures the button stays on top */
    cursor: pointer; transition: background-color 0.3s; /* Smooth transition for responsiveness */
}
.back-button.hidden {top: -30px; /* Move the button out of view when hidden */}
.back-button:hover {background-color: #defff9; color: #333;transition: background-color 0.3s;}